services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    build: .
    command: bash -c "rm -f /rails/tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    environment:
      RAILS_ENV: development
      SECRET_KEY_BASE_DUMMY: dummy
    volumes:
      - .:/rails
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  postgres_data: