<div class="d-flex gap-2 mt-2">
  <% stamps.each do |img, type| %>
    <%= form_with model: Stamp.new,
                  url: post_stamps_path(post),
                  method: :post,
                  data: { turbo: false } do |f| %>

      <%= f.hidden_field :stamp_type, value: type %>

      <button type="submit" class="stamp-btn">
        <%= image_tag img, size: "40x40", alt: type %>
      </button>

    <% end %>
  <% end %>
</div>